<div class="container">
  <div class="row">
    <div class="col" id="title-container">
      <h1>Awesome Site</h1>
    </div>
  </div>
  <div class="row my-3">
      <i class="material-icons mr-3">
          portrait
          </i>
    <a routerLink="/login">Login</a>
  </div>
  <div class="row my-3">
      <i class="material-icons mr-3">
          how_to_reg
          </i>
    <a routerLink="/registration">Registration</a>
  </div>
  <div class="row my-3">
      <i class="material-icons mr-3">
          dashboard
          </i>
    <a routerLink="/dashboard">Dashboard</a>
  </div>
  <div class="row my-3">
      <i class="material-icons mr-3">
          supervised_user_circle
          </i>
    <a routerLink="/users">Users</a>
  </div>
  <div class="row my-3">
      <i class="material-icons mr-3">
          settings
          </i>
    <a routerLink="/account-settings">Account Settings</a>
  </div>
</div>
