<div class="sidebar" data-color="purple" data-background-color="white">
  <div class="logo">
    <a href="#" class="simple-text logo-normal">Awesome Site</a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active-link">
          <i class="material-icons mr-3">
              portrait
              </i>
              Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/registration" routerLinkActive="active-link">
            <i class="material-icons mr-3">
                how_to_reg
                </i>
                Registration</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard"  routerLinkActive="active-link">
            <i class="material-icons mr-3">
                dashboard
                </i>
                Dashboard</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active-link">
            <i class="material-icons mr-3">
                supervised_user_circle
                </i>
                Users</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/account-settings" routerLinkActive="active-link">
            <i class="material-icons mr-3">
                settings
                </i>
                Account Settings</a>
      </li>
    </ul>
  </div>
    <div class="sidebar-background" style="background-image:url('../../../assets/img/mountains.jpg')"></div>
  </div>
  